:root {
  --black-bg-color: #000;
  --footer-bg-color: #111115;
  --main-text-color: #333b41;
  --white-addition-color: #fff;
  --accent-color: #fe9013;
  --mistake-color: #d31414;
  --secondary-accent-color: #ffee2e;
  --bg-pink-color: rgba(253, 253, 255, 0.52);
  --orange-gradient: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --hover-btn-color: #e47209;
  --activ-addition-color: #4b9200;
  --gray-ligth-bg-color: #f1f3f2;
  --gray-input-color-bg: #f5f7f6;
  --gray-text: #bdbdbd;
  --gray-testimonial-color: #767474;
  --pink-grad: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --orange-grad: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

body {
  width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background: var(--gray-ligth-bg-color);
}
.page {
  background: var(--white-addition-color);
}

/* .......header .....*/
header {
  display: flex;
  padding: 0 220px;
  background-color: var(--black-bg-color);
}
nav {
  margin: auto 0;
}
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.header-logo {
  margin: 15px 30px;
  vertical-align: middle;
  color: var(--white-addition-color);
  border: 1.18841px solid var(--white-addition-color);
  border-radius: 2px;
  font-size: 19.0145px;
  line-height: 120%;
  font-style: normal;
  font-weight: 400;
  padding: 4px;
  text-align: center;
}
.logo-bamboo {
  position: relative;
  left: 5px;
}
.header-logo span {
  position: relative;
  right: 7px;
}
.nav-link {
  margin: 0 30px;
  font-weight: 500;
  line-height: 140%;
  color: var(--white-addition-color);
  text-decoration: none;
}
.designed-by-link {
  position: relative;
  left: 19em;
}
.nav-link:hover,
.nav-link:focus,
.active {
  color: var(--accent-color);
}
/* ....end block... */
/* ....hero..... */

.hero {
  background-image: url(../../assets/images/Giant\ Panda.jpg);
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.elipse {
  background: var(--orange-gradient);
  border-radius: 50%;
  width: 465px;
  height: 465px;
  margin-top: 12px;
}
.hero-info {
  position: relative;
  bottom: 42%;
  right: 10%;
}
.hero-info h2 {
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  letter-spacing: 20px;

  text-align: center;
  text-transform: uppercase;

  color: var(--white-addition-color);
}
.hearo-accent {
  color: var(--secondary-accent-color);
}
.hero-button {
  font-family: inherit;
  display: block;
  margin: 40px auto;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  border: none;
  border-radius: 25px;

  color: var(--white-addition-color);
  background: var(--orange-gradient);
}
.hero-button:hover,
.hero-button:focus {
  background: var(--hover-btn-color);
}
/* .......end hero..... */
/* ........backstage section....... */
.backstage {
  padding: 180px 220px;
  display: flex;
  background: url("../../assets/icons/flower_foto1.png") no-repeat 100% 10px;
}
.backstage-info {
  padding-left: 85px;
}
.backstage h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: 0 0 20px;

  color: #333b41;
}
.backstage p {
  font-size: 16px;
  line-height: 135%;

  color: #333b41;
}
.backstage h3 {
  font-size: 24px;
  line-height: 120%;
  margin: 55px 0 35px;
  color: #333b41;
}
.backstage-info img {
  position: relative;
  left: 104%;
  bottom: 53%;
}
/* ...........end block........ */
/* .........pets cards....... */
.animals-card {
  padding-bottom: 100px;
  background-image: url("../../assets/icons/palm_foto.png"),
    url("../../assets/icons/strelitzia 1.png");
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
}
.scroll-card-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  padding: 0 20px;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.card-item {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  width: 365px;
}
.card-item > img {
  border-radius: 5px 5px 0 0;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 15px;
}
.description {
  display: inline-block;
}
.card-item h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0;

  color: var(--black-bg-color);
}
.card-item p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 0;

  color: var(--black-bg-color);
}
.choose-favorite-btn {
  font-family: inherit;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  padding: 15px 0;
  margin: 80px auto 0;

  border: none;
  border-radius: 25px;
  background: var(--accent-color);
  color: var(--white-addition-color);
}
.choose-favorite-btn:hover,
.choose-favorite-btn:focus,
.feed-friend-link:hover,
.feed-friend-link:focus,
.leave-feedback-bnt:hover,
.leave-feedback-bnt:focus,
.footer-donate-link:hover,
.footer-donate-link:focus {
  background: var(--hover-btn-color);
  cursor: pointer;
}
.scroll-btn {
  padding: 25px;
  width: 60px;
  border-radius: 50%;
  border: none;

  background: var(--orange-gradient);
  color: var(--white-addition-color);
}
.scroll-btn:hover,
.scroll-btn:focus {
  background: var(--hover-btn-color);
  cursor: pointer;
}
.scroll-btn:active,
.choose-favorite-btn:active {
  background: var(--activ-addition-color);
}
/* .......block end............ */
/* ............pick-and-feed....... */
.block-pick-and-feed {
  background: var(--orange-grad);
  padding: 70px 220px 50px;
}
.pick-and-feed {
  width: 1160px;
  padding-bottom: 50px;
  border: none;
  border-radius: 20px;

  background: var(--bg-pink-color);
}
.pick-and-feed h2 {
  padding-top: 40px;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  color: var(--accent-color);
}
.text {
  padding-left: 100px;
  color: var(--main-text-color);
}
.entering-text {
  font-size: 24px;
  line-height: 120%;
  margin: 30px 0 40px;
}
.covid-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.donate-info {
  font-size: 16px;
  line-height: 130%;
}
.donate-link {
  color: var(--main-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}
.pick-and-feed h3 {
  margin: 60px 0 40px;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: var(--main-text-color);
}
.donate-instruction {
  display: flex;
  justify-content: center;
}
.block-icon {
  background: var(--white-addition-color);
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  display: inline;
  margin: auto 30px;
}
.description-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.description-icon p {
  font-size: 16px;
  line-height: 140%;
  width: 170px;
  margin: 30px 65px;

  color: var(--main-text-color);
}
.feed-friend-link {
  text-decoration: none;
  margin: 0 auto;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  padding: 15px 0;
  border: none;
  border-radius: 25px;
  background: var(--accent-color);
  color: var(--white-addition-color);
}
.feed-friend-link:active {
  background: var(--activ-addition-color);
}
/* .......end block........ */
/* ..............testimonial......... */
.testimonials {
  padding: 140px 220px 180px;
  background-image: url("../../assets/icons/leav_foto.svg");
  background-repeat: no-repeat;
  background-position: right 124%;
}
.testimonials h2 {
  margin: 0;
  font-size: 36px;
  line-height: 130%;
  text-align: center;

  color: var(--main-text-color);
}
.testimonial-list {
  padding: 0;
  margin-top: 45px;
  margin-bottom: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
.border {
  background: var(--pink-grad);
  padding: 2px;
  border-radius: 20px;
}
.testimonial-item {
  background: var(--gray-ligth-bg-color);
  border-radius: 20px;
  padding: 15px 15px 20px;
  height: 355px;
}
.testimonial-person {
  display: flex;
}
.testimonial-person img {
  margin-right: 10px;
}
.testimoninal-header h3 {
  font-size: 16px;
  line-height: 120%;
  margin: 0;

  color: var(--black-bg-color);
}
.location {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 0;

  color: var(--gray-text);
}
.testimonial-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 10px 0;

  color: var(--gray-testimonial-color);
}
.hide-text {
  height: 315px;
  overflow: hidden;
}
.input-border {
  background: var(--pink-grad);
  width: 600px;
  height: 10px;
  display: flex;
  margin: 0 auto;
  align-items: center;

  border-radius: 5px;
}
input[type="range"] {
  appearance: none;
  margin-left: 0;
  width: 600px;
  height: 8px;
  overflow: hidden;
  background: var(--gray-input-color-bg);
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 7px;
  width: 25%;
  border-radius: 50px;
  background: var(--accent-color);
}
.leave-feedback-bnt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  width: 298px;
  padding: 15px 0;
  display: block;
  margin-top: 32px;

  background: var(--orange-gradient);
  color: var(--white-addition-color);
}
.leave-feedback-bnt:active {
  background: var(--activ-addition-color);
}
.green-leav-img {
  position: absolute;
  right: 0;
  top: 271em;
}
/* .............end block........... */
/* .....footer........ */
footer {
  padding: 40px 220px 50px;

  background: var(--footer-bg-color);
  color: var(--white-addition-color);
}
.footer-main {
  display: flex;
  justify-content: space-between;
}
.subscribe-form label {
  display: block;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
}
.subscribe-form input {
  width: 211px;
  border: 0.7px solid var(--accent-color);
  border-radius: 2px;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  color: #bdbdbd;
  background: transparent;
}
.footer-submit-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  border-radius: 5px;
  padding: 10px 0;
  margin-left: 10px;
  width: 129px;

  color: var(--black-bg-color);
  background: var(--gray-ligth-bg-color);
  border: 1px solid var(--black-bg-color);
}
.footer-submit-btn:hover {
  cursor: pointer;
}
.footer-submit-btn:active,
.footer-submit-btn:focus {
  color: var(--activ-addition-color);
  border: 1px solid var(--activ-addition-color);
  cursor: pointer;
}
.footer-donate-link {
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  padding: 15px 0;
  border-radius: 5px;
  margin: 75px 0 45px;

  background: var(--orange-gradient);
  color: var(--white-addition-color);
}
.footer-donate-link:active {
  background: var(--activ-addition-color);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .nav-list {
  margin: 0 0 0 11%;
}
.about-link {
  cursor: default;
}
.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-list a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: var(--white-addition-color);
}

.social-list a:active,
.social-list a:focus {
  color: var(--activ-addition-color);
}
.social-list a:active > div,
.social-list a:focus > div {
  background: var(--activ-addition-color);
}
.social-list li {
  margin-top: 10px;
}
.icon-bg {
  height: 26px;
  width: 26px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gray-testimonial-color);
  margin-right: 12px;
}
.social-list p {
  margin: 0;
}
.school,
.designer {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}
.designer {
  margin-bottom: 10px;
}
/* ...........end block........... */
