:root {
  --black-bg-color: #000;
  --footer-bg-color: #111115;
  --main-text-color: #333b41;
  --white-addition-color: #fff;
  --accent-color: #fe9013;
  --mistake-color: #d31414;
  --secondary-accent-color: #ffee2e;
  --bg-pink-color: rgba(253, 253, 255, 0.52);
  --orange-gradient: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --hover-btn-color: #e47209;
  --activ-addition-color: #4b9200;
  --gray-ligth-bg-color: #f1f3f2;
  --gray-input-color-bg: #f5f7f6;
  --gray-text: #bdbdbd;
  --gray-testimonial-color: #767474;
  --pink-grad: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --orange-grad: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

body {
  width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background: var(--gray-ligth-bg-color);
}
.page {
  background: var(--white-addition-color);
}

/* .......header .....*/
header {
  padding: 0 220px;
  background-color: var(--black-bg-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-box {
  display: flex;
}
.header-box a {
  text-decoration: none;
}
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.header-logo {
  padding: 4px;
  height: 45px;
  margin: 14px 30px 14px 0;
  vertical-align: middle;
  color: var(--white-addition-color);
  border: 1.18841px solid var(--white-addition-color);
  border-radius: 2px;
  font-size: 19.0145px;
  line-height: 110%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.logo-bamboo {
  position: relative;
  left: 5px;
}
.header-logo span {
  position: relative;
  right: 7px;
}
.nav-link {
  margin: 0 30px;
  font-weight: 500;
  line-height: 140%;
  color: var(--white-addition-color);
  text-decoration: none;
}
.designed-by-link {
  margin: 0;
}
.nav-link:hover,
.nav-link:focus,
.active {
  color: var(--accent-color);
}
/* --- header hamb-menu... */
input[type="checkbox"] {
  display: none;
}
.hamb-label {
  padding-top: 11px;
  cursor: pointer;
  display: none;
}
.hamb-line {
  display: block;
  transition: 200ms ease;
  margin: 1px;
  width: 18px;
  height: 2px;
  background: var(--gray-input-color-bg);
  border-radius: 2px;
}
input[type="checkbox"]:checked ~ .hamb-label span:nth-child(2) {
  opacity: 0;
}
input[type="checkbox"]:checked ~ .hamb-label span:nth-child(1) {
  transform: rotate(38deg);
}
input[type="checkbox"]:checked ~ .hamb-label span:nth-child(3) {
  transform: rotate(-43deg) translate(4px, -5px);
}
input[type="checkbox"]:checked ~ .header-box nav:nth-child(4) {
  display: block;
}
input[type="checkbox"]:checked + .header-box,
input[type="checkbox"]:checked + #header-nav,
input[type="checkbox"]:checked + .nav-list {
  display: block;
}
.hamb-open {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}
/* ....end block... */
/* ....hero..... */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #07070776;
}
#card7 {
  display: none;
}
.hero {
  background-image: url(../../assets/images/Giant\ Panda.jpg);
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}
.elipse {
  background: var(--orange-gradient);
  border-radius: 50%;
  width: 465px;
  height: 465px;
  margin-top: 12px;
}
.hero-info {
  position: relative;
  bottom: 40%;
  right: 10%;
}
.hero-info h2 {
  margin: 0;
  margin-top: 58px;
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  letter-spacing: 2px;

  text-align: center;
  text-transform: uppercase;

  color: var(--white-addition-color);
}
.hero-accent {
  color: var(--secondary-accent-color);
}
.hero-button {
  font-family: inherit;
  margin: 60px auto 100px;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  border: none;
  border-radius: 25px;

  color: var(--white-addition-color);
  background: var(--orange-gradient);
}
.main {
  display: block;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--hover-btn-color);
}
/* .......end hero..... */
/* ........backstage section....... */
.backstage {
  padding: 140px 220px;
  display: flex;
  background: url("../../assets/icons/flower_foto1.png") no-repeat 100% 10px;
}
.mob {
  display: none;
}
.img-1000 {
  display: none;
}
.backstage-info {
  padding-left: 85px;
}
.backstage h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: 0 0 20px;

  color: #333b41;
}
.backstage p {
  font-size: 16px;
  line-height: 135%;

  color: #333b41;
}
.backstage h3 {
  font-size: 24px;
  line-height: 120%;
  margin: 54px 0 34px;
  color: #333b41;
}
.backstage-info img {
  position: relative;
  left: 104%;
  bottom: 53%;
}
/* ...........end block........ */
/* .........pets cards....... */
.animals-card {
  padding-bottom: 100px;
  background-image: url("../../assets/icons/palm_foto.png"),
    url("../../assets/icons/strelitzia 1.png");
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
}
.animal-img {
  width: 365px;
}
.scroll-card-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  padding: 0 20px;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.card-item {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  overflow: hidden;
}
.appear {
  animation: appear 1s 0s 1;
}
@keyframes appear {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.card-item > img {
  border-radius: 5px 5px 0 0;
}
.card-item:hover {
  border: none;
}
.card-item > img:hover {
  transform: scale(1.1, 1.1);
  border-radius: 24px;
}
.card-item > img:hover + .card-bottom {
  position: relative;
  border-radius: 0 0 5px 5px;
  animation: card 0.2s linear 0s 1 normal forwards;
}
.card-item > img:hover + .card-bottom > .description > h2 {
  color: var(--white-addition-color);
}
.card-item > img:hover + .card-bottom > .description > p {
  color: var(--white-addition-color);
}
.card-item > img:hover + .card-bottom > .description + .card-icon {
  display: none;
}
@keyframes card {
  from {
    top: 0;
  }
  to {
    top: -45px;
    background-color: #00000059;
  }
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 15px;
}
.description {
  display: inline-block;
}
.card-item h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0;

  color: var(--black-bg-color);
}
.card-item p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 0;

  color: var(--black-bg-color);
}
.choose-favorite-btn {
  font-family: inherit;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  padding: 15px 0;
  margin: 80px auto 0;

  border: none;
  border-radius: 25px;
  background: var(--accent-color);
  color: var(--white-addition-color);
}
.choose-favorite-btn:hover,
.choose-favorite-btn:focus,
.feed-friend-link:hover,
.feed-friend-link:focus,
.leave-feedback-bnt:hover,
.leave-feedback-bnt:focus,
.footer-donate-link:hover,
.footer-donate-link:focus {
  background: var(--hover-btn-color);
  cursor: pointer;
}
.scroll-btn {
  padding: 25px;
  width: 60px;
  border-radius: 50%;
  border: none;

  background: var(--orange-gradient);
  color: var(--white-addition-color);
}
.scroll-btn:hover,
.scroll-btn:focus {
  background: var(--hover-btn-color);
  cursor: pointer;
}
.hero-button:active,
.scroll-btn:active,
.choose-favorite-btn:active {
  background: var(--activ-addition-color);
}
/* .......block end............ */
/* ............pick-and-feed....... */
.block-pick-and-feed {
  background: var(--orange-grad);
  padding: 70px 220px 100px;
}
.pick-and-feed {
  padding-bottom: 60px;
  border: none;
  border-radius: 20px;

  background: var(--bg-pink-color);
}
.pick-and-feed h2 {
  padding-top: 40px;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  color: var(--accent-color);
}
.text {
  padding-left: 100px;
  color: var(--main-text-color);
}
.entering-text {
  font-size: 24px;
  line-height: 120%;
  margin: 30px 0 40px;
}
.covid-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.donate-info {
  font-size: 16px;
  line-height: 130%;
}
.donate-link {
  color: var(--main-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}
.pick-and-feed h3 {
  margin: 60px 0 40px;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: var(--main-text-color);
}
.clone-description {
  display: none;
}
.donate-instruction {
  display: flex;
  justify-content: center;
}
.green-arrow1,
.green-arrow2 {
  width: 63px;
  display: none;
}
.block-icon {
  background: var(--white-addition-color);
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  display: inline;
  margin: auto 30px;
}
.description-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.description-icon p {
  font-size: 16px;
  line-height: 140%;
  width: 170px;
  margin: 30px 65px;

  color: var(--main-text-color);
}
.feed-friend-link {
  text-decoration: none;
  margin: 0 auto;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  padding: 15px 0;
  border: none;
  border-radius: 25px;
  background: var(--accent-color);
  color: var(--white-addition-color);
}
.feed-friend-link:active {
  background: var(--activ-addition-color);
}
/* .......end block........ */
/* ..............testimonial......... */
.testimonials {
  padding: 140px 220px 180px;
  background-image: url("../../assets/icons/leav_foto.svg");
  background-repeat: no-repeat;
  background-position: right 124%;
}
.testimonials h2 {
  margin: 0;
  font-size: 36px;
  line-height: 130%;
  text-align: center;

  color: var(--main-text-color);
}
.testimonial-list {
  padding: 0;
  margin-top: 45px;
  margin-bottom: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
.border {
  background: var(--pink-grad);
  padding: 2px;
  border-radius: 20px;
}
.testimonial-item {
  background: var(--gray-ligth-bg-color);
  border-radius: 20px;
  padding: 15px 15px 20px;
  height: 355px;
}
.testimonial-person {
  display: flex;
}
.testimonial-person img {
  margin-right: 10px;
}
.testimoninal-header h3 {
  font-size: 16px;
  line-height: 120%;
  margin: 0;

  color: var(--black-bg-color);
}
.location {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 0;

  color: var(--gray-text);
}
.testimonial-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 10px 0;

  color: var(--gray-testimonial-color);
}
.hide-text {
  height: 315px;
  overflow: hidden;
}
.input-border {
  background: var(--pink-grad);
  width: 600px;
  height: 10px;
  display: flex;
  margin: 0 auto;
  align-items: center;

  border-radius: 5px;
}
input[type="range"] {
  appearance: none;
  margin-left: 0;
  width: 600px;
  height: 8px;
  overflow: hidden;
  background: var(--gray-input-color-bg);
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 7px;
  width: 25%;
  border-radius: 50px;
  background: var(--accent-color);
}
.leave-feedback-bnt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  width: 298px;
  padding: 15px 0;
  display: block;
  margin-top: 32px;

  background: var(--orange-gradient);
  color: var(--white-addition-color);
}
.leave-feedback-bnt:active {
  background: var(--activ-addition-color);
}
.green-leav-img {
  position: absolute;
  right: 0;
  top: 271em;
}
/* .............end block........... */
/* .....footer........ */
footer {
  padding: 40px 220px 50px;

  background: var(--footer-bg-color);
  color: var(--white-addition-color);
}
.footer-main {
  display: flex;
  justify-content: space-between;
}
.footer-logo-320 {
  display: none;
}
.subscribe-form label {
  display: block;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
}
.subscribe-form input {
  width: 211px;
  border: 0.7px solid var(--accent-color);
  border-radius: 2px;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  color: #bdbdbd;
  background: transparent;
}
.footer-submit-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  border-radius: 5px;
  padding: 10px 0;
  margin-left: 10px;
  width: 129px;

  color: var(--black-bg-color);
  background: var(--gray-ligth-bg-color);
  border: 1px solid var(--black-bg-color);
}
.footer-submit-btn:hover {
  cursor: pointer;
}
.footer-submit-btn:active,
.footer-submit-btn:focus {
  color: var(--activ-addition-color);
  border: 1px solid var(--activ-addition-color);
  cursor: pointer;
}
.footer-donate-link {
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  padding: 15px 0;
  border-radius: 5px;
  margin: 68px 0 32px;

  background: var(--orange-gradient);
  color: var(--white-addition-color);
}
.footer-donate-link:active {
  background: var(--activ-addition-color);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .nav-list {
  margin: 0 0 0 11%;
}
.about-link {
  cursor: default;
}
.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-list a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: var(--white-addition-color);
}
.social-list a:active,
.social-list a:focus {
  color: var(--activ-addition-color);
}
.social-list a:active > div,
.social-list a:focus > div {
  background: var(--activ-addition-color);
}
.social-list li {
  margin-top: 10px;
}
.icon-bg {
  height: 26px;
  width: 26px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gray-testimonial-color);
  margin-right: 12px;
}
.social-list p {
  margin: 0;
}
.school,
.designer {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}
.designer {
  margin-bottom: 10px;
}
/* ...........end block........... */
@media screen and (max-width: 1000px) {
  body {
    width: 1000px;
  }
  header {
    padding: 0 30px;
  }
  .nav-link {
    margin: 0 15px 0 33px;
  }
  .designed-by-link {
    margin: 0;
  }
  .hero {
    height: 501px;
    background-size: cover;
  }
  .elipse {
    width: 367px;
    height: 367px;
    margin-top: -14px;
    margin-left: -44px;
  }
  .hero-info {
    position: relative;
    bottom: 43%;
    right: 7%;
  }
  .hero-info h2 {
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
    letter-spacing: 1px;
  }
  .main {
    margin: 45px 100px 47px;
  }
  .backstage {
    padding: 109px 30px 120px;
    background: none;
  }
  .img-1000 {
    display: block;
  }
  .img-1600 {
    display: none;
  }
  .backstage-info {
    position: relative;
    top: -9px;
    padding-left: 31px;
  }
  .backstage h2 {
    margin: 0 0 23px;
  }
  .backstage p {
    font-size: 16px;
    line-height: 130%;
  }
  .animals-card {
    padding-bottom: 141px;
    background-image: url("../../assets/icons/palm_foto1000.png"),
      url("../../assets/icons/strelitzia 1.png");
    background-size: 190px, 241px;
  }
  .card-arrows {
    position: absolute;
  }
  .animal-img {
    width: 295px;
  }
  .card-list {
    grid-row-gap: 92px;
  }
  .card-item {
    width: 292px;
    height: 354px;
  }
  .scroll-btn {
    width: 62px;
  }
  .scroll-btn.left {
    position: relative;
    left: -188%;
  }
  .scroll-btn.right {
    position: relative;
    right: -188%;
  }
  .block-pick-and-feed {
    padding: 30px 30px 50px;
  }
  .pick-and-feed {
    padding-bottom: 50px;
  }
  .pick-and-feed h2 {
    padding-top: 30px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
  }
  .entering-text {
    margin: 20px 0;
    padding-left: 49px;
  }
  .covid-info {
    margin: 10px 0;
    padding: 0 49px;
  }
  .donate-info {
    margin: 0;
    padding: 0 49px;
  }
  .pick-and-feed h3 {
    margin: 40px 0;
  }
  .testimonials {
    padding: 100px 30px 140px;
    background-position: right 115%;
    background-size: 192px;
  }
  .testimonial-list {
    margin: 30px 0 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .last {
    display: none;
  }
  .input-border {
    width: 392px;
  }
  input[type="range"] {
    width: 390px;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 20%;
  }
  .leave-feedback-bnt {
    margin: 52px 0 0;
  }
  footer {
    padding: 40px 30px 50px;
  }
  footer .nav-link {
    margin: 0 30px 0 17px;
  }
  .subscribe-form {
    margin-right: 32px;
  }
  .footer-submit-btn {
    margin-left: 5px;
  }
}
@media screen and (max-width: 640px) {
  body {
    width: 640px;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .header-logo {
    height: 30px;
    padding: 2px;
    margin: 0;
    border: none;
    font-size: 12.2899px;
    line-height: 120%;
  }
  .header-logo span {
    top: -3px;
  }
  .logo-bamboo {
    height: 13px;
    left: 1px;
  }
  .hamb-label {
    display: block;
  }
  nav {
    margin-top: 33px;
    display: none;
  }
  .nav-list {
    margin: 0;
  }
  .nav-item {
    margin: 14px 0;
  }
  .nav-item a {
    margin: 0;
  }
  .designed-by-link {
    margin: 0;
  }
  .hero {
    height: 339px;
    background-position: center;
  }
  .elipse {
    width: 237px;
    height: 237px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .hero-info {
    bottom: 44%;
    right: -5%;
  }
  .hero-info h2 {
    font-size: 54px;
    margin: 0;
    letter-spacing: 1px;
  }
  .main {
    position: absolute;
    top: 75%;
    right: 74%;
  }
  .backstage {
    padding: 69px 130px 58px 20px;
    background: url("../../assets/icons/flower_foto1.png") no-repeat 100% 10px;
    background-size: 128px 455px;
  }
  .img-1000 {
    display: none;
  }
  .backstage-info {
    padding: 0;
  }
  .backstage h3 {
    margin: 30px 0 20px;
  }
  .animals-card {
    padding-bottom: 102px;
    background-image: url(../../assets/icons/palm_foto.png),
      url(../../assets/icons/strelitzia\ 1.png);
    background-size: 130px, 179px;
  }
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 92px;
  }
  .card-item {
    width: 284px;
    height: 331px;
  }
  .animal-img {
    width: 284px;
  }
  #card5,
  #card6 {
    display: none;
  }
  .card-item h2 {
    font-size: 13px;
  }
  .card-bottom {
    padding: 3px 11px 1px;
  }
  .description p {
    font-size: 12px;
  }
  .scroll-btn.left {
    left: -74%;
  }
  .scroll-btn.right {
    right: -74%;
  }
  .choose-favorite-btn {
    width: 300px;
    margin: 59px auto 0;
  }
  .block-pick-and-feed {
    padding: 22px 0 19px;
  }
  .pick-and-feed {
    padding-bottom: 60px;
  }
  .pick-and-feed h2 {
    padding-top: 8px;
    font-size: 42px;
  }
  .entering-text {
    padding-left: 20px;
    font-size: 22px;
  }
  .covid-info,
  .donate-info {
    padding: 0 19px;
  }
  .pick-and-feed h3 {
    margin: 32px 0 20px;
  }
  .arrow {
    display: none;
  }
  .donate-instruction {
    position: relative;
    justify-content: space-around;
  }
  .green-arrow1 {
    display: block;
    position: absolute;
    left: 24%;
    top: -10%;
    width: 86px;
  }
  .green-arrow2 {
    display: block;
    position: absolute;
    left: 57%;
    top: -10%;
    width: 87px;
  }
  .description-icon {
    margin-bottom: 30px;
  }
  .description-icon p {
    margin: 30px 20px;
    justify-content: space-around;
    margin-bottom: 9px;
  }
  .feed-friend-link {
    width: 300px;
  }
  .testimonials {
    padding: 60px 21px 80px;
    display: block;
    background-position: right 114%;
    background-size: 120px;
  }
  .testimonials h2 {
    font-weight: 400;
  }
  .border {
    overflow: hidden;
    height: 109px;
    margin: 10px 0;
  }
  .testimonial-list {
    display: block;
    margin: 30px 0 41px;
  }
  .testimonial-item {
    height: 73px;
  }
  .hide-text {
    height: 46px;
  }
  .input-border {
    display: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 7px;
    width: 25%;
    border-radius: 50px;
    background: var(--accent-color);
  }
  .leave-feedback-bnt {
    margin: 0 auto;
    width: 240px;
  }
  /* ........footer....... */
  footer {
    position: relative;
    padding: 12px 21px 11px;
  }
  footer .nav-list {
    margin: 0;
  }
  .footer-donate-link {
    margin: 29px 0 69px;
    width: 296px;
  }
  footer .nav-link {
    margin: 0 37px 0 0px;
  }
  .subscribe-form {
    display: none;
  }
  .social-list p {
    display: none;
  }
  .social-list {
    position: absolute;
    right: 1%;
    margin-bottom: 94px;
  }
  .social-list li {
    margin-top: 20px;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
  header {
    padding: 0 9px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
  .header-logo {
    height: 30px;
    padding: 2px;
    margin: 0;
    border: none;
    font-size: 12.2899px;
    line-height: 120%;
  }
  .header-logo span {
    top: -3px;
  }
  .logo-bamboo {
    height: 13px;
    left: 1px;
  }
  .hamb-label {
    display: block;
  }
  nav {
    margin-top: 33px;
    display: none;
  }
  .nav-list {
    margin: 0;
  }
  .nav-item {
    margin: 14px 0;
  }
  .nav-item a {
    margin: 0;
  }
  .designed-by-link {
    margin: 0;
  }
  .hero {
    height: 187px;
  }
  .main,
  .scroll-btn,
  .covid-info,
  .donate-info,
  .description-icon {
    display: none;
  }
  .elipse {
    width: 119px;
    height: 119px;
    margin-top: 23px;
    margin-left: 3px;
  }
  .hero-info {
    bottom: 41%;
    right: -4%;
  }
  .hero-info h2 {
    font-size: 28px;
  }
  .backstage {
    display: block;
    padding: 21px 24px 33px 12px;
    background: url(../../assets/icons/flower_foto1.png) no-repeat 100% 31px;
    background-position-x: 125%;
    background-size: 92px 238px;
  }
  .hero-button {
    margin: 0 auto;
  }
  .mob,
  .card-list,
  .donate-instruction {
    display: block;
  }
  .backstage-info h2 {
    font-size: 24px;
    margin: 41px 0 10px;
  }
  .backstage-info p {
    margin: 0;
    line-height: 135%;
  }
  .backstage h3 {
    margin: 19px 0 10px;
    font-weight: 400;
  }
  .animals-card {
    padding-bottom: 61px;
    background-image: url(../../assets/icons/palm_foto1000.png),
      url(../../assets/icons/strelitzia\ 1.png);
    background-size: 69px, 83px;
    background-position: bottom left -11px, bottom right -17px;
  }
  .card-item {
    margin-bottom: 18px;
  }
  .choose-favorite-btn {
    margin: 7px auto 0;
  }
  .block-pick-and-feed {
    padding: 22px 10px 19px;
  }
  .pick-and-feed {
    padding-bottom: 41px;
  }
  .pick-and-feed h2 {
    padding-top: 18px;
    font-size: 24px;
  }
  .entering-text {
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 12px 0;
  }
  .pick-and-feed h3 {
    margin: 21px 0 19px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .block-icon {
    margin: 0 auto;
  }
  .clone-description {
    display: block;
    margin: 8px 65px 38px;
    line-height: 130%;
  }
  .green-arrow1 {
    transform: rotate(82deg);
    left: 69%;
    top: 27%;
  }
  .green-arrow2 {
    transform: rotate(82deg);
    left: 69%;
    top: 61%;
  }
  .testimonials {
    position: relative;
    padding: 30px 10px 60px;
    background: none;
  }
  .testimonials h2 {
    font-size: 24px;
    line-height: 120%;
  }
  .testimonial-list {
    margin: 19px 0 30px;
  }
  .testimonial-item {
    padding: 10px 13px 26px;
  }
  .testimonial-person img {
    margin-right: 5px;
  }
  .leav-container {
    left: 79%;
    position: absolute;
    overflow: hidden;
    width: 66px;
  }
  .bg-leav {
    position: relative;
    padding: 40px;
    background-image: url(../../assets/icons/leav_foto.svg);
    transform: rotate(-20deg);
    background-repeat: no-repeat;
    background-size: 75%;
    transform: rotate(-15deg);
    left: -9%;
    background-position-x: 98%;
  }
  footer {
    padding: 23px 10px;
  }
  .footer-logo {
    display: none;
  }
  .footer-logo-320 {
    display: block;
  }
  .footer-logo-320 a {
    text-decoration: none;
  }
  .logo320 {
    margin: 0;
    color: var(--white-addition-color);
    text-align: center;
    line-height: 120%;
    font-size: 19px;
  }
  .logo-bamboo320 {
    display: block;
    position: absolute;
    left: 53%;
  }
  .social-list {
    display: flex;
    right: 10%;
    margin-bottom: 213px;
  }
  .icon-bg {
    margin-right: 30px;
  }
  .footer-donate-link {
    margin: 86px 0 28px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .copy-rights {
    margin-bottom: 11%;
  }
  .copy-rights p {
    font-size: 15px;
    line-height: 120%;
  }
  footer .nav-link {
    margin: 0 16px 0 11px;
  }
}
